{% extends "main.html" %}
{% block content %}
    <style>
    table {text-align: center;}
    table thead th {text-align: center;}
    </style>
    <div id='chart' class='chart'”></div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                {{data1|safe }}
            </div>
            <div class="col">
                {{data2|safe }}
            </div>
          </div>
    </div>


{% endblock %}
{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = {{plot | safe}};

        graphs.config = {'displayModeBar': false}
        Plotly.newPlot('chart', graphs);

        {#Plotly.plot('chart',graphs,{});#}

    </script>
{% endblock %}